/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(227, 213, 200);
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: white;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px #f5dec7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoName {
  font-family: "Hanken Grostesk", sans-serif;
  font-size: 27px;
  font-weight: 900;
  color: black;
}

.icn {
  display: flex;
  align-items: center;
}

.menuicn {
  font-size: 50px;
  cursor: pointer;
}

.logo,
.search,
.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  gap: 20px;
}

.search {
  gap: 20px;
}

.search i {
  font-size: 18px;
}

.search select,
.search input {
  width: 180px;
  height: 42px;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  border: none;
}

.dropdownSearch,
.startDateSearch,
.endDateSearch {
  display: flex;
  align-items: center;
  width: 300px;
  gap: 6px;
}

.dropdownSearch label,
.startDateSearch label,
.endDateSearch label {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchBtn button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 115px;
  font-size: 15px;
  padding: 5px 18px;
  border-radius: 15px;
  border-style: none;
  color: white;
  background-color: rgb(248, 139, 30);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.searchBtn button:hover {
  background-color: rgb(251, 190, 92);
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.searchBtn button:active {
  background-color: rgb(251, 190, 92);
  transform: scale(1);
  transition: all 0.01s ease;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 70px;
  z-index: 1;
}

.nav {
  min-height: 100vh;
  width: 250px;
  background-color: white;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}

.navcontainer {
  max-height: 100vh;
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.navclose {
  width: 80px;
}

.navcontainer::-webkit-scrollbar {
  display: none;
}

.nav-option {
  display: flex;
  align-items: center;
  width: 250px;
  height: 60px;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}

.nav-option:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.nav i {
  font-size: 33px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.option1 {
  background-color: rgb(248, 139, 30);
  color: white;
  cursor: pointer;
}

.option1:hover {
  background-color: rgb(250, 164, 78);
}

.main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 30px 30px 30px;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.box {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  background-color: rgb(248, 139, 30);
  box-shadow: 3px 3px 10px rgb(255, 182, 110);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.08);
}

.box i {
  color: white;
  font-size: 50px;
}

.box .text {
  color: white;
}

.report-container {
  min-height: 300px;
  max-height: 80vh;
  max-width: 1200px;
  margin: 33px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0 20px 20px 20px;
  overflow-y: scroll;
}

.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgb(255, 195, 135);
}

/* header for report container */
.temperature-Reading {
  font-size: 30px;
  font-weight: 700;
  color: rgb(248, 151, 54);
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}

.report-table table {
  table-layout: auto;
  text-align: center;
  width: 1100px;
  border: 1px solid #dededf;
  border-collapse: collapse;
  border-spacing: 1px;
}

.report-table th {
  height: 35px;
  padding: 5px;
  border: 2px solid #dededf;
  background-color: rgb(229, 226, 226);
}

.report-table td {
  min-height: fit-content;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  border: 1px solid #dededf;
}

.report-body .action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.report-body .update-button {
  width: 100px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  padding: 5px 18px;
  border-radius: 15px;
  border-style: none;
  background-color: rgba(66, 133, 244);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.report-body .delete-button {
  width: 100px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  padding: 5px 18px;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(234, 17, 35);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.report-container::-webkit-scrollbar {
  display: none;
}

.report-container .dashboard-view-report {
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-container .dashboard-view-report button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 5px 18px;
  border-radius: 15px;
  border-style: none;
  background-color: rgb(248, 139, 30);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dashboard-view-report button:hover {
  background-color: rgb(248, 168, 88);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.dashboard-view-report button:active {
  background-color: rgb(251, 162, 72);
  transition: transform 0.1s ease-in-out;
  transform: scale(1.05);
}

#map {
  height: 60vh;
  width: 100%;
}

.navigate-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 10px;
  font-weight: 400;
  color: white;
  margin: 5px;
  padding: 5px 18px;
  border-radius: 15px;
  border-style: none;
  background-color: rgba(66, 133, 244);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#viewInfo-button {
  background-color: grey;
}

.highlight {
  background-color: grey;
}

/* Responsive Design for Mobile Devices */
@media screen and (max-width: 768px) {
  /* Adjust the header */
  header {
    height: 50px;
    padding: 0 20px;
    box-shadow: 1px 1px 1px #f5dec7;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 50px;
    z-index: 1;
  }

  .logoName {
    font-size: 15px;
  }

  .menuicn {
    font-size: 30px;
  }

  /* Navigation bar */
  .nav {
    min-height: fit-content;
    width: 100vw;
    padding: 0 0 0 0;
  }

  .navcontainer {
    height: 80px;
    width: 100vw;
    opacity: 100%;
    scrollbar-width: thin;
  }

  .nav-upper-options {
    gap: 4px;
  }

  .nav-option {
    width: 100vw;
    height: 30px;
    font-size: 10px;
    padding: 0 45px 0 25px;
    gap: 5px;
  }

  .nav i {
    font-size: 20px;
  }

  .navclose {
    height: 0px;
  }

  /* Report container adjustments */
  #map {
    height: 375px;
    width: 100%;
  }

  .main {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 15px 10px 10px;
  }

  .report-container {
    max-width: 100vw;
    min-height: fit-content;
    margin: 10px auto;
  }

  .report-header {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 20px 5px 20px;
    border-bottom: 2px solid rgb(255, 195, 135);
  }

  /* header text */
  .temperature-Reading {
    font-size: 20px;
    font-weight: 700;
    color: rgb(248, 151, 54);
  }

  .report-body {
    padding: 5px 5px 0 5px;
  }

  .report-table table {
    width: 100%;
  }

  .report-body th {
    font-size: 12px;
  }

  .report-body td {
    font-size: 10px;
    font-weight: 500;
  }

  .report-body .action-button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
    padding: 5px;
  }

  .report-body .update-button {
    width: 60px;
    font-size: 9px;
    font-weight: 500;
    padding: 5px 5px;
  }

  .report-body .delete-button {
    width: 60px;
    font-size: 9px;
    font-weight: 500;
    padding: 5px 5px;
  }
}
